@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

/* * {
  margin: 0;
  padding: 0;
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --clr-background: oklch(97.69% 0.003 106.48);
  --clr-primary: oklch(74.93% 0.154 70.67);
}

body {
  font-family: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}
