name: Build and Deploy

on:
  push:
    # branches: [main]
    branches: [dev]

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bite-backend:${{ github.sha }}, ${{ secrets.DOCKERHUB_USERNAME }}/bite-backend:latest

  deploy:
    name: Deploy to Server
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.HOSTINGER_SSHKEY }}

      - name: Adding Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.HOSTINGER_HOST }} >> ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: Debug SSH agent
        run: |
          echo "SSH agent running: $SSH_AUTH_SOCK"
          ssh-add -l

      - name: Verify SSH connection
        run: |
          ssh -o StrictHostKeyChecking=no -o IdentitiesOnly=no ${{ secrets.HOSTINGER_USERNAME }}@${{ secrets.HOSTINGER_HOST }} "echo 'SSH CONNECTION SUCCESSFUL'"

      - name: Copy deploy script and docker compose file using SSH
        run: |
          scp -o StrictHostKeyChecking=no -o IdentitiesOnly=no scripts/clean-up.sh ${{ secrets.HOSTINGER_USERNAME }}@${{ secrets.HOSTINGER_HOST }}:~/
          scp -o StrictHostKeyChecking=no -o IdentitiesOnly=no scripts/clean-up-cron-job.sh ${{ secrets.HOSTINGER_USERNAME }}@${{ secrets.HOSTINGER_HOST }}:~/
          scp -o StrictHostKeyChecking=no -o IdentitiesOnly=no scripts/deploy.sh ${{ secrets.HOSTINGER_USERNAME }}@${{ secrets.HOSTINGER_HOST }}:~/
          scp -o StrictHostKeyChecking=no -o IdentitiesOnly=no docker-compose.yaml ${{ secrets.HOSTINGER_USERNAME }}@${{ secrets.HOSTINGER_HOST }}:~/

      - name: Deploy to Hostinger Ocean using SSH
        run: |
          ssh -o StrictHostKeyChecking=no -o IdentitiesOnly=no ${{ secrets.HOSTINGER_USERNAME }}@${{ secrets.HOSTINGER_HOST }} "chmod +x ~/deploy.sh && ~/deploy.sh ${{ secrets.DOCKERHUB_USERNAME }}/bite-backend:${{ github.sha }}"

      - name: Setup hourly Docker cleanup cron job
        run: |
          ssh -o StrictHostKeyChecking=no -o IdentitiesOnly=no ${{ secrets.HOSTINGER_USERNAME }}@${{ secrets.HOSTINGER_HOST }} "chmod +x ~/clean-up-cron-job.sh && ~/clean-up-cron-job.sh"
